<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App viagens</title>
</head>
<body>
    <h1>Bem-vindo ao aplicativo de viagens!</h1>

    <a href="{{ url_for('listar_cidades') }}">Ver cidades</a> <br>
    <a href="{{ url_for('listar_classes') }}">Ver classes do voo</a> <br>
    <a href="{{ url_for('listar_destinos') }}">Ver destinos</a> <br>
    <a href="{{ url_for('listar_enderecos') }}">Ver endereços</a> <br>
    <a href="{{ url_for('listar_estados') }}">Ver estados</a> <br>
    <a href="{{ url_for('listar_hospedagens') }}">Ver hospedagens</a> <br>
    <a href="{{ url_for('listar_hoteis') }}">Ver hoteis</a> <br>
    <a href="{{ url_for('listar_origens') }}">Ver origens</a> <br>
    <a href="{{ url_for('listar_passagens') }}">Ver passagens</a> <br>
    <a href="{{ url_for('listar_usuarios') }}">Ver usuarios</a> <br>
    <a href="{{ url_for('listar_usuhospedagens') }}">Ver hospedagens dos usuários</a> <br>
    <a href="{{ url_for('listar_usupassagens') }}">Ver passagens dos usuários</a>
</body>
</html>