<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Hospedagens</title>
</head>
<body>
    <h1>Listagem de Hospedagens</h1>
    <table>
        <thead>
            <tr>
                <th>CPF</th>
                <th>Id da hospedagem</th>
                <th>comentario</th>
            </tr>
        </thead>
        <tbody>
            {% for usuhospedagem in usuhospedagens %}
                <tr>
                    <td>{{ usuhospedagem.cpf }}</td>
                    <td>{{ usuhospedagem.idhospedagem }}</td>
                    <td>{{ usuhospedagem.comentario }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
